
/**
 * Grid Block styles.
 * These styles are loaded into both the editor, and the frontend.
 */
/**
 * Padding Options
 */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Barlow-Semi-Condensed;
}




/* Mobile S/M */

@media only screen and (min-width: 220px) and (max-width: 420px) {

  .slider-container {
    height: 70vh;
    background-image: url('Images/bg-img.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;

  }

  .slider-images {
    transform: scale(0.32)
    
  }

  .slider-images img {
    width: 50vh;
    height: 70vh;
    overflow:hidden;
  }

  .slider-img {
    width: 50vh;
    overflow:hidden;
    
  }

  .br-features {
    width: 100%;
    height: 40vh;
    overflow:hidden;

  }

  .slider-container{
    max-height: 40vh;


  }

  .logo {
    transform: scale(0.8)
  }



  .br-title{
    padding-top: 20px;
    font-size: 15px;
    text-align: center;

  }

  .download-frame{
    transform: scale(0.7);
  }
}

/* Mobile L */

@media only screen and (min-width: 421px) and (max-width: 767px) {

  .slider-container {
    height: 30vh;
    background-image: url('Images/bg-img.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    max-height: 40vh;
  

  }

  .slider-images {
    transform: scale(0.4);
    transition: 2s ease;

    
    
  }

  .slider-images img {
    width: 50vh;
    height: 70vh;
    overflow:hidden;
    transition: 2s ease;

  }

  .slider-img {
    width: 50vh;
    overflow:hidden;
    transition: 2s ease;

    
  }

  .br-features {
    width: 100%;
    height: 40vh;
    overflow:hidden;

  }


  .logo {
    transform: scale(0.8)
  }



  .br-title{
    padding-top: 20px;
    font-size: 18px;
    text-align: center;

  }

  .download-frame{
    transform: scale(0.7);
  }

}



@media screen and (min-width: 768px) and (max-width: 1023px) {

  .slider-container {
    height: 43%;
    background-image: url('Images/bg-img.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    

  }

  .slider-images {
    transform: scale(0.55);
    transition: 2s ease;

    
    
  }

  .slider-images img {
    width: 50vh;
    height: 70%;
    overflow:hidden;
    transition: 2s ease;

  }

  .slider-img {
    width: 50vh;
    overflow:hidden;
    transition: 2s ease;

    
  }

  .br-features {
    width: 100%;
    height: 50%;
    margin-top: -170px;
    margin-bottom: -170px;

  }


  .logo {
    transform: scale(0.8);
  }



  .br-title{
    padding-top: 18px;
    font-size: 25px;
    text-align: center;

  }

  .download-frame{
    transform: scale(0.7);
  }

}

@media screen and (min-width: 1024px) and (max-width: 1399px){

  .slider-container {
    height: 50%;
    background-image: url('Images/bg-img.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;

  }

  .slider-images {
    transform: scale(0.6);
    transition: 2s ease;

    
    
  }

  .slider-images img {
    width: 50vh;
    height: 70%;
    overflow:hidden;
    transition: 2s ease;

  }

  .slider-img {
    width: 50vw;
    overflow:hidden;
    transition: 2s ease;

    
  }

  .br-features {
    width: 100%;
    height: 50%;
    margin-top: -170px;
    margin-bottom: -180px;

  }


  .logo {
    transform: scale(0.9);
  }



  .br-title{
    padding-top: 70px;
    font-size: 30px;
    text-align: center;

  }

  .download-frame{
    transform: scale(0.9);
  }

}

@media screen and (min-width: 1400px) and (max-width: 1920px){

  .slider-container {
    height: 65%;
    background-image: url('Images/bg-img.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .slider-images {
    transform: scale(0.68);
    transition: 2s ease;

    
    
  }

  .slider-images img {
    width: 50vh;
    height: 70%;
    overflow:hidden;
    transition: 2s ease;

  }

  .slider-img {
    width: 50vw;
    overflow:hidden;
    transition: 2s ease;

    
  }

  .br-features {
    width: 100%;
    height: 50%;
    margin-top: -170px;
    margin-bottom: -110px;

  }


  .logo {
    transform: scale(0.9);
  }



  .br-title{
    font-size: 25px;
    text-align: center;

  }

  .download-frame{
    transform: scale(0.7);

  }

}

@media screen and (min-width: 1921px){

  .slider-container {
    height: 60%;
    background-image: url('Images/bg-img.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;

  }

  .slider-images {
    transform: scale(1);
    transition: 2s ease;

    
    
  }

  .slider-images img {
    width: 50vh;
    height: 70%;
    overflow:hidden;
    transition: 2s ease;

  }

  .slider-img {
    width: 50vw;
    overflow:hidden;
    transition: 2s ease;

    
  }

  .br-features {
    width: 100%;
    height: 50%;

  }


  .logo {
    transform: scale(1);
  }



  .br-title{
    padding-top: 20px;
    font-size: 30px;
    text-align: center;

  }

  .download-frame{
    transform: scale(0.9);
  }

}



* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

.slider-images {
  display: flex;
  align-items: center;
  gap: 21px;
  
}

.slider-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.slider-img {
  width: 110px;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  transition: 2s ease;
}

.slider-images .slider-img:first-child,
.slider-images .slider-img:last-child {
  height: 480px;
}

.slider-images .slider-img:nth-child(2),
.slider-images .slider-img:nth-child(6) {
  height: 560px;
}

.slider-images .slider-img:nth-child(3),
.slider-images .slider-img:nth-child(4),
.slider-images .slider-img:nth-child(5) {
  height: 665px;
}

h1 {
  font-family: "Jost", sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  top: 50%;
  left: -10%;
  transform: rotate(270deg);
  transition: 0.7s ease;
}

.details {
  position: absolute;
  bottom: 43px;
  left: 43px;
}

.details h2 {
  font-family: "Jost", sans-serif;
  font-size: 26px;
  font-weight: 700;
  text-align: left;
  line-height: 44px;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
  transition: 0.7s ease;
  display: none;
}

.details p {
  font-family: "Jost", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  line-height: 33px;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
  transition: 0.7s ease;
  display: none;
}

.slider-img.active {
  max-width: 100%;
  width: auto !important;
  height: auto !important;
  object-fit: scale-down; max-width: 100%

}

.slider-img.active h1 {
  display: none;
}

.slider-img.active .details p,
.slider-img.active .details h2 {
  display: block;
}

﻿.guten-block{position:relative;z-index:1}.guten-block.has-background.has-white-background-color,.guten-block .has-background.has-white-background-color{background-color:#fff}.guten-block.has-background.has-black-background-color,.guten-block .has-background.has-black-background-color{background-color:#000}.guten-block.has-background.has-white-background-color,.guten-block .has-background.has-white-background-color{background-color:#fff}*{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}body,html,h1,h2,h3,h4,h5,h6,p,span,button,a,ul,li,table{font-family:"Inter",arial,sans-serif}.bg-dark body,.bg-dark html,.bg-dark h1,.bg-dark h2,.bg-dark h3,.bg-dark h4,.bg-dark h5,.bg-dark h6,.bg-dark p,.bg-dark span,.bg-dark button,.bg-dark a,.bg-dark ul,.bg-dark li,.bg-dark table{color:#fff}p{font-size:1rem;line-height:1.375rem;padding-bottom:20px}p:last-child{padding-bottom:0}ul,ol{padding:0 0 20px 25px;color:#fff}ul li,ol li{margin-bottom:8px}ul li>ul,ul li>ol,ol li>ul,ol li>ol{padding:10px 0 0 25px}ul li a,ul li a span,ol li a,ol li a span{text-decoration:underline}ul li a:hover,ul li a:active,ul li a span:hover,ul li a span:active,ol li a:hover,ol li a:active,ol li a span:hover,ol li a span:active{text-decoration:none}.single-template p a,.single-template p a span,.single-template em a,.single-template em a span,.page-template p a,.page-template p a span,.page-template em a,.page-template em a span{text-decoration:underline}.single-template p a:hover,.single-template p a:active,.single-template p a span:hover,.single-template p a span:active,.single-template em a:hover,.single-template em a:active,.single-template em a span:hover,.single-template em a span:active,.page-template p a:hover,.page-template p a:active,.page-template p a span:hover,.page-template p a span:active,.page-template em a:hover,.page-template em a:active,.page-template em a span:hover,.page-template em a span:active{text-decoration:none}.single-template a.backtoposts,.page-template a.backtoposts{display:block;margin-top:60px}h1{font-size:2rem;line-height:2.5rem;padding:24px 0}p::selection,body::selection,h1::selection,h2::selection,h3::selection,h4::selection,h5::selection,h6::selection,li::selection,span::selection{background:#fff}p::-moz-selection,body::-moz-selection,h1::-moz-selection,h2::-moz-selection,h3::-moz-selection,h4::-moz-selection,h5::-moz-selection,h6::-moz-selection,li::-moz-selection,span::-moz-selection{background:#fff}html{box-sizing:border-box}*,*::after,*::before{margin:0;padding:0;box-sizing:inherit}body,html{background:#fff;padding:0;margin:0}img{max-width:100%}input[type=search]::-ms-clear{display:none;width:0;height:0}input[type=search]::-ms-reveal{display:none;width:0;height:0}input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-results-button,input[type="search"]::-webkit-search-results-decoration{display:none}body,html{scroll-behavior:smooth;text-rendering:optimizeLegibility !important;-webkit-font-smoothing:antialiased !important;background:#000000}body{overflow-x:hidden}figure{padding:0;margin:0}.container{width:100%;max-width:calc(100% - 40px);padding:0;margin:0 20px}@media only screen and (min-width: 1024px){.container{max-width:1320px;padding:0 20px;margin:0 auto}}@media only screen and (min-width: 1024px){.container--compact{max-width:967px}}.container .container{margin:0 auto;max-width:100%}@media only screen and (min-width: 1024px){.container .container{padding:0 20px;margin:0 auto;max-width:1320px}}.container--full-width{max-width:100%}.navigation{text-align:center;padding:20px;margin-top:80px}.navigation ul{padding:0;margin:0;list-style:none}.navigation ul li{padding:0;margin:0}.navigation ul li::marker{display:none}.navigation ul li{display:inline-block}.navigation ul li.active a{text-decoration:underline}.navigation ul li a{padding:3px;text-decoration:none}.navigation ul li a:hover{text-decoration:underline}.navigation ul li.next a{font-size:0}.navigation ul li.next a:after{font-size:13px;content:"»"}.navigation ul li.previous a{font-size:0}.navigation ul li.previous a:after{font-size:13px;content:"«"}.index-template h1 a{text-decoration:none}.single-template .sharedaddy{display:none}footer.footer nav.footer-links{margin:50px 0 24px 0}@media only screen and (max-width: 1024px){footer.footer nav.footer-links{position: relative;}}footer.footer nav.footer-links ul{display:flex;flex-wrap:wrap;justify-content:center;padding:0;margin:0;list-style:none}footer.footer nav.footer-links ul li{padding:0;margin:0}footer.footer nav.footer-links ul li::marker{display:none}footer.footer nav.footer-links ul li{font-size:.75rem;line-height:.75rem;font-weight:400;border-right:1px solid rgba(255,255,255,0.33);margin-bottom:20px}@media only screen and (min-width: 1024px){footer.footer nav.footer-links ul li{flex:0 0 auto}}footer.footer nav.footer-links ul li:last-child{border-right:0}footer.footer nav.footer-links ul li a{color:#fff;text-decoration:none;display:inline-block;padding:0 10px}footer.footer nav.footer-links ul li a:after{content:"";display:block;border-bottom:1px solid #fff;-webkit-transition:all 0.35s ease-in-out;-moz-transition:all 0.35s ease-in-out;-ms-transition:all 0.35s ease-in-out;-o-transition:all 0.35s ease-in-out;transition:all 0.35s ease-in-out}footer.footer nav.footer-links ul li a:hover:after{content:"";display:block;border-bottom:1px solid transparent;border-top:1px solid transparent}nav.langs{position:absolute;top:32px;right:32px;left:auto;display:flex;justify-content:center;flex-direction:column}@media only screen and (min-width: 1024px){nav.langs{left:auto;justify-content:flex-end}}nav.langs button.langSelect{background:transparent;border:0;padding:0;margin:0;color:#fff;text-align:right;padding:0 6px;margin:0 7px;display:flex;align-items:center;justify-content:flex-end;cursor:pointer}nav.langs button.langSelect:after{content:"";display:inline-block;background-image:url("data:image/svg+xml,%3Csvg width='6' height='4' viewBox='0 0 6 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.83164 0.390303C5.725 0.284295 5.58074 0.224792 5.43037 0.224792C5.28 0.224792 5.13575 0.284295 5.0291 0.390303L2.98577 2.40517L0.970895 0.390303C0.864254 0.284295 0.719996 0.224792 0.569628 0.224792C0.41926 0.224792 0.275002 0.284295 0.168361 0.390303C0.115013 0.443215 0.0726695 0.506166 0.0437733 0.575525C0.0148771 0.644884 0 0.719278 0 0.794415C0 0.869552 0.0148771 0.943946 0.0437733 1.01331C0.0726695 1.08266 0.115013 1.14561 0.168361 1.19853L2.58166 3.61181C2.63457 3.66516 2.69752 3.7075 2.76688 3.7364C2.83624 3.7653 2.91063 3.78017 2.98577 3.78017C3.06091 3.78017 3.1353 3.7653 3.20466 3.7364C3.27402 3.7075 3.33697 3.66516 3.38988 3.61181L5.83164 1.19853C5.88499 1.14561 5.92733 1.08266 5.95623 1.01331C5.98512 0.943946 6 0.869552 6 0.794415C6 0.719278 5.98512 0.644884 5.95623 0.575525C5.92733 0.506166 5.88499 0.443215 5.83164 0.390303Z' fill='white'/%3E%3C/svg%3E%0A");background-size:contain;background-position:center;width:6px;height:4px;margin-left:4px}nav.langs .wpml-ls{opacity:0;pointer-events:none}nav.langs .wpml-ls.active{opacity:1;pointer-events:all}nav.langs .wpml-ls ul{display:flex;flex-direction:column}nav.langs .wpml-ls ul li{display:inline-block;font-size:.75rem;font-weight:400;text-align:right;border:1px solid #2c2c2e;margin-bottom:0}nav.langs .wpml-ls ul li:not(:first-child){border-top:0}nav.langs .wpml-ls ul li:first-child{border-radius:4px 4px 0 0}nav.langs .wpml-ls ul li:last-child{border-radius:0 0 4px 4px}nav.langs .wpml-ls ul li a{color:#fff;opacity:0.33;padding:8px;display:inline-block;-webkit-transition:all 0.35s ease-in-out;-moz-transition:all 0.35s ease-in-out;-ms-transition:all 0.35s ease-in-out;-o-transition:all 0.35s ease-in-out;transition:all 0.35s ease-in-out}nav.langs .wpml-ls ul li a:hover{opacity:1}nav.langs .wpml-ls ul li.active a,nav.langs .wpml-ls ul li.wpml-ls-current-language a{opacity:1}header.header .container{text-align:center;padding-top:86px;padding-bottom:24px}@media only screen and (min-width: 1024px){header.header .container{padding-top:32px;padding-bottom:32px;text-align:left}}main.template-homepage{background:#000;color:#fff;min-height:100vh;display:flex;align-items:center;justify-content:center;flex-direction:column;flex-wrap:wrap}main.template-homepage figure.logo{max-width:112px;height:auto;margin:auto 0 30px 0;width:100%}@media only screen and (min-width: 1024px){main.template-homepage figure.logo{margin:auto 0 40px 0}}main.template-homepage figure.logo img{width:100%;height:100%;object-fit:contain;object-position:center}main.template-homepage ul{padding:0;margin:0;list-style:none;font-weight:500}main.template-homepage ul li{padding:0;margin:0}main.template-homepage ul li::marker{display:none}main.template-homepage ul li{font-size:1rem;line-height:0}@media only screen and (min-width: 1024px){main.template-homepage ul li{font-size:.8125rem;line-height:0}}main.template-homepage ul li a{text-decoration:none}main.template-homepage nav ul{display:block}main.template-homepage nav ul li{display:inline-block;padding:0 10px}main.template-homepage nav ul li a{padding:10px;display:block}main.template-homepage nav.app-links ul li{display:inline-block} @media only screen and (min-width: 1024px){main.template-homepage nav.app-links ul li{display:inline-block}}main.template-homepage nav.app-links ul li a{color:#fff;-webkit-transition:all 0.35s ease-in-out;-moz-transition:all 0.35s ease-in-out;-ms-transition:all 0.35s ease-in-out;-o-transition:all 0.35s ease-in-out;transition:all 0.35s ease-in-out}@media only screen and (min-width: 1024px){main.template-homepage nav.app-links ul li a{opacity:0.42}}main.template-homepage nav.app-links ul li a:hover{color:#fff;opacity:100%}main.template-homepage nav.app-links ul li a.android{position:relative;top:2px}main.template-homepage nav.app-links ul li a.apple,main.template-homepage nav.app-links ul li a.android{display:inline-flex;align-items:center;font-size:0}main.template-homepage nav.app-links ul li a.apple:before,main.template-homepage nav.app-links ul li a.android:before{content:"";display:inline-block;background-repeat:no-repeat;background-size:contain;background-position:center;margin-right:8px}main.template-homepage nav.app-links ul li a.apple:before{background-image:url(../images/icon-apple.svg);width:20px;height:20px}main.template-homepage nav.app-links ul li a.android:before{width:20px;height:20px;background-image:url(../images/icon-playstore.svg)}main.template-homepage nav.footer-links{margin:auto 0 0 0;padding:0 30px 34px}main.template-homepage nav.footer-links ul{display:flex;flex-wrap:wrap;justify-content:center}main.template-homepage nav.footer-links ul li{font-size:.75rem;line-height:.75rem;font-weight:400;border-right:1px solid rgba(255,255,255,0.33);margin-bottom:20px}@media only screen and (min-width: 1024px){main.template-homepage nav.footer-links ul li{flex:0 0 auto}}main.template-homepage nav.footer-links ul li:last-child{border-right:0}main.template-homepage nav.footer-links ul li a{color:#fff;text-decoration:none;display:inline-block;padding:0 10px}main.template-homepage nav.footer-links ul li a:after{content:"";display:block;border-bottom:1px solid #fff;-webkit-transition:all 0.35s ease-in-out;-moz-transition:all 0.35s ease-in-out;-ms-transition:all 0.35s ease-in-out;-o-transition:all 0.35s ease-in-out;transition:all 0.35s ease-in-out}main.template-homepage nav.footer-links ul li a:hover:after{content:"";display:block;border-bottom:1px solid transparent}main.template-homepage-v2{background:#000000;color:#fff;min-height:calc(100vh - 140px);display:flex;align-items:center;justify-content:center;flex-direction:column;flex-wrap:wrap}main.template-homepage-v2 figure.logo{max-width:450px;height:auto;margin-top:40px;width:100%}@media only screen and (min-width: 1024px){main.template-homepage-v2 figure.logo{margin-top:20px}}main.template-homepage-v2 figure.logo img{width:100%;height:100%;object-fit:contain;object-position:center}main.template-homepage-v2 ul{padding:0;margin:0;list-style:none;font-weight:500}main.template-homepage-v2 ul li{padding:0;margin:0}main.template-homepage-v2 ul li::marker{display:none}main.template-homepage-v2 ul li{font-size:1rem;line-height:0}@media only screen and (min-width: 1024px){main.template-homepage-v2 ul li{font-size:.8125rem;line-height:0}}main.template-homepage-v2 ul li a{text-decoration:none}main.template-homepage-v2 nav ul{display:block}main.template-homepage-v2 nav ul li{display:inline-block;padding:0 10px}main.template-homepage-v2 nav ul li a{padding:10px;display:block}main.template-homepage-v2 nav.app-links{margin-top:29px}main.template-homepage-v2 nav.app-links ul li{display:inline-block}@media only screen and (min-width: 1024px){main.template-homepage-v2 nav.app-links ul li{display:inline-block}}main.template-homepage-v2 nav.app-links ul li a{color:#fff;padding:24px 16px;-webkit-transition:all 0.35s ease-in-out;-moz-transition:all 0.35s ease-in-out;-ms-transition:all 0.35s ease-in-out;-o-transition:all 0.35s ease-in-out;transition:all 0.35s ease-in-out}@media only screen and (min-width: 1024px){main.template-homepage-v2 nav.app-links ul li a{opacity:0.42}}main.template-homepage-v2 nav.app-links ul li a:hover{color:#fff;opacity:100%}main.template-homepage-v2 nav.app-links ul li a.android{position:relative;top:2px}main.template-homepage-v2 nav.app-links ul li a.apple,main.template-homepage-v2 nav.app-links ul li a.android{display:inline-flex;align-items:center;font-size:0}main.template-homepage-v2 nav.app-links ul li a.apple:before,main.template-homepage-v2 nav.app-links ul li a.android:before{content:"";display:inline-block;background-repeat:no-repeat;background-size:contain;background-position:center}main.template-homepage-v2 nav.app-links ul li a.apple:before{background-image:url(../images/icon-apple.svg);width:20px;height:20px}main.template-homepage-v2 nav.app-links ul li a.android:before{width:20px;height:20px;background-image:url(../images/icon-playstore.svg)}main.template-homepage-v2 nav.footer-links{margin:auto 0 0 0;padding:0 30px 34px}main.template-homepage-v2 nav.footer-links ul{display:flex;flex-wrap:wrap;justify-content:center}main.template-homepage-v2 nav.footer-links ul li{font-size:.75rem;line-height:.75rem;font-weight:400;border-right:1px solid rgba(255,255,255,0.33);margin-bottom:20px}@media only screen and (min-width: 1024px){main.template-homepage-v2 nav.footer-links ul li{flex:0 0 auto}}main.template-homepage-v2 nav.footer-links ul li:last-child{border-right:0}main.template-homepage-v2 nav.footer-links ul li a{color:#fff;text-decoration:none;display:inline-block;padding:0 10px}main.template-homepage-v2 nav.footer-links ul li a:after{content:"";display:block;border-bottom:1px solid #fff;-webkit-transition:all 0.35s ease-in-out;-moz-transition:all 0.35s ease-in-out;-ms-transition:all 0.35s ease-in-out;-o-transition:all 0.35s ease-in-out;transition:all 0.35s ease-in-out}main.template-homepage-v2 nav.footer-links ul li a:hover:after{content:"";display:block;border-bottom:1px solid transparent}main.template-homepage-v2 .br-pagetitle{font-size:2rem;margin-top:31px;margin-bottom:9px}@media only screen and (min-width: 1024px){main.template-homepage-v2 .br-pagetitle{font-size:4rem;margin-top:54px;margin-bottom:36px}}main.template-homepage-v2 .br-features{display:flex;align-items:flex-start;gap:43px;flex-wrap:wrap;justify-content:center}@media only screen and (min-width: 1024px){main.template-homepage-v2 .br-features{gap:54px;flex-wrap:nowrap}}main.template-homepage-v2 .br-features .br-feature{width:100%;max-width:508px;text-align:center;flex:1 0 100%;position:relative;margin-top:35px}@media only screen and (min-width: 1024px){main.template-homepage-v2 .br-features .br-feature{flex:1 0 50%}}main.template-homepage-v2 .br-features .br-feature .video-wrapper,main.template-homepage-v2 .br-features .br-feature .image-wrapper{margin-bottom:32px;position:relative}main.template-homepage-v2 .br-features .br-feature .video-wrapper span.icon-bts,main.template-homepage-v2 .br-features .br-feature .image-wrapper span.icon-bts{position:absolute;top:8px;right:8px;width:59px;height:28px;background-image:url(../images/icon-bts.svg);background-size:contain;background-position:center;background-repeat:no-repeat;text-indent:-9999px}main.template-homepage-v2 .br-features .br-feature .video-wrapper video,main.template-homepage-v2 .br-features .br-feature .video-wrapper iframe,main.template-homepage-v2 .br-features .br-feature .image-wrapper video,main.template-homepage-v2 .br-features .br-feature .image-wrapper iframe{width:100%;max-width:308px;height:auto;display:block}main.template-homepage-v2 .br-features .br-feature .video-wrapper picture img,main.template-homepage-v2 .br-features .br-feature .image-wrapper picture img{display:block}main.template-homepage-v2 .br-features .br-feature .video-wrapper.rounded,main.template-homepage-v2 .br-features .br-feature .image-wrapper.rounded{border-radius:18px;overflow:hidden}main.template-homepage-v2 .br-features .br-feature span.br-label{border-radius:3px;background:#FFD60A;color:#000;text-align:center;font-size:.8125rem;font-style:normal;font-weight:590;line-height:normal;padding:2px 4px}main.template-homepage-v2 .br-features .br-feature .br-title{color:#fafafa;text-align:center;font-size:2rem;font-style:normal;font-weight:700;line-height:100%;letter-spacing:-0.64px;margin-top:21px}main.template-homepage-v2 .br-features .br-feature .br-title a{color:#fff;text-decoration:none}main.template-homepage-v2 .br-features .br-feature .br-title a::before{content:"";display:block;position:absolute;inset:0}main.template-homepage-v2 .br-features .br-feature .br-content{color:var(--White, #FAFAFA);text-align:center;font-family:Inter;font-size:1rem;font-style:normal;font-weight:500;line-height:normal;width:100%;max-width:330px;margin-top:15px;padding:0}main.template-homepage-v2 .br-features .br-feature:nth-child(2){max-width:calc(308px + 17.6px + 17.6px)}.single-template-reports .button-container{display:flex;justify-content:flex-start;align-items:flex-start;gap:24px}.single-template-reports .breadcrumbs{padding-bottom:16px}.single-template-reports .breadcrumbs a,.single-template-reports .breadcrumbs .item{font-size:.875rem;text-decoration:none;padding:8px}.single-template-reports .breadcrumbs a:first-child,.single-template-reports .breadcrumbs .item:first-child{padding-left:0}.single-template-reports .breadcrumbs a:hover:not(.item),.single-template-reports .breadcrumbs .item:hover:not(.item){text-decoration:underline}.single-template-reports .country-selector-wrapper,.single-template-reports .date-selector-wrapper{position:relative;display:inline-block;width:200px;text-align:left}.single-template-reports button#current-country,.single-template-reports button#current-date,.single-template-reports input#current-country,.single-template-reports input#current-date{background:transparent;border:0;padding:0;margin:0;font-size:.8125rem;line-height:.8125rem;border-radius:8px;border:1px solid var(--gray-700, #222224);background:var(--Black, #000);width:100%;max-width:160px;margin-bottom:24px;padding:12px 16px;cursor:pointer;display:inline-flex;align-items:center;justify-content:space-between;text-align:left;color:#fff;outline:0}.single-template-reports button#current-country::placeholder,.single-template-reports button#current-date::placeholder,.single-template-reports input#current-country::placeholder,.single-template-reports input#current-date::placeholder{color:#fff}.single-template-reports button#current-country:after,.single-template-reports button#current-date:after,.single-template-reports input#current-country:after,.single-template-reports input#current-date:after{content:"";display:inline-block;width:16px;height:16px;background-image:url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 5.07715C4.8763 5.07715 4.76562 5.02995 4.66797 4.93555L0.888672 1.06836C0.846354 1.02604 0.813802 0.978841 0.791016 0.926758C0.768229 0.871419 0.756836 0.812826 0.756836 0.750977C0.756836 0.666341 0.776367 0.589844 0.81543 0.521484C0.854492 0.453125 0.906576 0.399414 0.97168 0.360352C1.04004 0.321289 1.11654 0.301758 1.20117 0.301758C1.32487 0.301758 1.43066 0.344076 1.51855 0.428711L5.25879 4.25195H4.73633L8.47656 0.428711C8.56771 0.344076 8.6735 0.301758 8.79395 0.301758C8.87858 0.301758 8.95345 0.321289 9.01855 0.360352C9.08691 0.399414 9.14062 0.453125 9.17969 0.521484C9.21875 0.589844 9.23828 0.666341 9.23828 0.750977C9.23828 0.871419 9.19434 0.975586 9.10645 1.06348L5.32715 4.93555C5.28483 4.98112 5.23438 5.01693 5.17578 5.04297C5.12044 5.06576 5.06185 5.07715 5 5.07715Z' fill='white'/%3E%3C/svg%3E%0A");background-size:auto;background-repeat:no-repeat;background-position:center;margin-left:2px}.single-template-reports button#current-country+ul,.single-template-reports button#current-date+ul,.single-template-reports input#current-country+ul,.single-template-reports input#current-date+ul{display:none;max-height:200px;overflow-x:hidden;overflow-y:auto}.single-template-reports button#current-country.active,.single-template-reports button#current-date.active,.single-template-reports input#current-country.active,.single-template-reports input#current-date.active{border-bottom-color:transparent;border-radius:8px 8px 0 0}.single-template-reports button#current-country.active:after,.single-template-reports button#current-date.active:after,.single-template-reports input#current-country.active:after,.single-template-reports input#current-date.active:after{transform:rotate(180deg)}.single-template-reports button#current-country.active+ul,.single-template-reports button#current-date.active+ul,.single-template-reports input#current-country.active+ul,.single-template-reports input#current-date.active+ul{display:block;position:absolute;top:38px;border-radius:0 0 8px 8px;border-top-color:transparent}.single-template-reports input#current-country{background-image:url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 5.07715C4.8763 5.07715 4.76562 5.02995 4.66797 4.93555L0.888672 1.06836C0.846354 1.02604 0.813802 0.978841 0.791016 0.926758C0.768229 0.871419 0.756836 0.812826 0.756836 0.750977C0.756836 0.666341 0.776367 0.589844 0.81543 0.521484C0.854492 0.453125 0.906576 0.399414 0.97168 0.360352C1.04004 0.321289 1.11654 0.301758 1.20117 0.301758C1.32487 0.301758 1.43066 0.344076 1.51855 0.428711L5.25879 4.25195H4.73633L8.47656 0.428711C8.56771 0.344076 8.6735 0.301758 8.79395 0.301758C8.87858 0.301758 8.95345 0.321289 9.01855 0.360352C9.08691 0.399414 9.14062 0.453125 9.17969 0.521484C9.21875 0.589844 9.23828 0.666341 9.23828 0.750977C9.23828 0.871419 9.19434 0.975586 9.10645 1.06348L5.32715 4.93555C5.28483 4.98112 5.23438 5.01693 5.17578 5.04297C5.12044 5.06576 5.06185 5.07715 5 5.07715Z' fill='white'/%3E%3C/svg%3E%0A");background-size:auto;background-repeat:no-repeat;background-position:calc(100% - 16px) center}.single-template-reports ul.country-selector{padding:0;margin:0;list-style:none;font-size:.8125rem;line-height:.8125rem;display:inline-block;justify-content:center;align-items:center;border-radius:8px;border:1px solid var(--gray-700, #222224);background:var(--Black, #000);width:100%;max-width:160px;margin-bottom:24px}.single-template-reports ul.country-selector li{padding:0;margin:0}.single-template-reports ul.country-selector li::marker{display:none}.single-template-reports ul.country-selector li a{padding:12px 16px;display:block;text-decoration:none}.single-template-reports ul.country-selector li.current-country{display:block;padding:12px 16px;cursor:pointer}.single-template-reports ul.country-selector.active li{display:block}.single-template-reports ul.dates-selector{padding:0;margin:0;list-style:none;font-size:.8125rem;line-height:.8125rem;display:inline-block;justify-content:center;align-items:center;border-radius:8px;border:1px solid var(--gray-700, #222224);background:var(--Black, #000);width:100%;max-width:160px;margin-bottom:24px}.single-template-reports ul.dates-selector li{padding:0;margin:0}.single-template-reports ul.dates-selector li::marker{display:none}.single-template-reports ul.dates-selector li a{padding:12px 16px;display:block;text-decoration:none}.single-template-reports ul.dates-selector li.current-date{display:block;padding:12px 16px;cursor:pointer}.single-template-reports ul.dates-selector.active li{display:block}.single-template-reports .br-content{padding-bottom:48px}.single-template-reports .br-content+.report-wrapper h3{margin-top:0}.single-template-reports .report-wrapper{width:100%;max-width:720px}.single-template-reports .report-wrapper.single-number+.report-wrapper.single-number{margin-top:16px}.single-template-reports .report-wrapper h3{padding-bottom:16px;margin-top:48px}.single-template-reports .report-wrapper:first-child{margin-top:0}.single-template-reports .report-wrapper .container-table{color:#fff;font-weight:400;padding:24px;border:1px solid #232325;border-radius:16px;display:inline-block}.single-template-reports .report-wrapper .container-table table{text-align:left;border-spacing:0}.single-template-reports .report-wrapper .container-table table tr th{color:#99999C;font-weight:400}.single-template-reports .report-wrapper .container-table table tr td{color:#fff}.single-template-reports .report-wrapper .container-table table tr th,.single-template-reports .report-wrapper .container-table table tr td{padding:16px 24px;border-bottom:1px solid #232325;margin:0;font-size:.875rem}.single-template-reports .report-wrapper .container-table table tr:last-child td{border-bottom:0}.single-template-reports .report-wrapper .container-pie-chart{max-width:774px;border:1px solid #232325;padding:24px;border-radius:16px;display:flex;justify-content:center}.single-template-reports .report-wrapper .container-pie-chart .inner{max-width:350px}.single-template-reports .report-wrapper .container-pie-chart .inner canvas{width:350px;max-width:100%}.single-template-reports .report-wrapper .container-bar-chart{max-width:774px;border:1px solid #232325;padding:24px;border-radius:16px;display:flex;justify-content:center}.single-template-reports .report-wrapper .container-single-number{background:#fff;border-radius:16px;padding:24px;color:#000;max-width:360px;height:193px;display:inline-flex;align-items:flex-start;justify-content:flex-end;width:100%;flex-direction:column}.single-template-reports .report-wrapper .container-single-number span{color:#000;display:block}.single-template-reports .report-wrapper .container-single-number span.single-number-value{font-weight:700;font-size:3.75rem;line-height:100%;height:max-content}.single-template-reports .report-wrapper .container-single-number span.single-number-subtitle{font-size:1.0625rem;margin-top:8px;font-weight:700}.single-template-reports .report-wrapper .container-single-number.theme-light{background:#fff;color:#000}.single-template-reports .report-wrapper .container-single-number.theme-light span{color:#000}.single-template-reports .report-wrapper .container-single-number.theme-dark{background:#000;color:#fff;border:1px solid #232325}.single-template-reports .report-wrapper .container-single-number.theme-dark span{color:#fff}.page-template-transparency-report h3.section-title{font-size:1.75rem;font-weight:700;margin-top:48px}.page-template-transparency-report .reports-container{display:flex;flex-wrap:wrap;gap:16px;margin-top:16px}.page-template-transparency-report .reports-container .single-report{border-radius:16px;border:1px solid #232325;padding:24px;flex:1 0 calc(100%);display:flex;flex-direction:column}@media only screen and (min-width: 768px){.page-template-transparency-report .reports-container .single-report{flex:1 0 calc(50% - 16px)}}@media only screen and (min-width: 1024px){.page-template-transparency-report .reports-container .single-report{flex:1 0 calc(25% - 16px)}}.page-template-transparency-report .reports-container .single-report span{display:block}.page-template-transparency-report .reports-container .single-report span.icon{margin-bottom:33px}.page-template-transparency-report .reports-container .single-report span.title{margin-bottom:6px;font-size:1.25rem;font-weight:700}.page-template-transparency-report .reports-container .single-report span.data{font-size:3.75rem;font-weight:700;justify-self:flex-end}.page-template-transparency-report .reports-container .single-report .content{margin-top:auto}.page-template-transparency-report .report-links-container{display:flex;flex-wrap:wrap;gap:16px;margin-top:16px}.page-template-transparency-report .report-links-container .report-link-single{border-radius:16px;border:1px solid #232325;flex:1 0 calc(100%);display:flex;flex-direction:column}@media only screen and (min-width: 768px){.page-template-transparency-report .report-links-container .report-link-single{flex:1 0 calc(50% - 16px)}}@media only screen and (min-width: 1024px){.page-template-transparency-report .report-links-container .report-link-single{flex:1 0 calc(50% - 16px)}}.page-template-transparency-report .report-links-container .report-link-single a{text-decoration:none;display:flex;justify-content:space-between;align-items:center;padding:16px 24px}.page-template-transparency-report .report-links-container .report-link-single a:after{content:"";display:inline-block;width:42px;height:42px;background-color:#222224;background-image:url("data:image/svg+xml,%3Csvg width='10' height='16' viewBox='0 0 10 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.66943 8.00684C9.66943 8.21159 9.62793 8.40251 9.54492 8.57959C9.46745 8.75114 9.34294 8.91992 9.17139 9.08594L2.9043 15.2285C2.64974 15.4831 2.33984 15.6104 1.97461 15.6104C1.73665 15.6104 1.5153 15.5495 1.31055 15.4277C1.10579 15.3115 0.942546 15.1538 0.820801 14.9546C0.70459 14.7554 0.646484 14.534 0.646484 14.2905C0.646484 13.9253 0.787598 13.5988 1.06982 13.311L6.54004 7.99854L1.06982 2.69434C0.787598 2.41764 0.646484 2.09391 0.646484 1.72314C0.646484 1.47965 0.70459 1.2583 0.820801 1.05908C0.942546 0.859863 1.10579 0.702148 1.31055 0.585938C1.5153 0.464193 1.73665 0.40332 1.97461 0.40332C2.33984 0.40332 2.64974 0.527832 2.9043 0.776855L9.17139 6.91943C9.34294 7.08545 9.46745 7.257 9.54492 7.43408C9.6224 7.60563 9.6639 7.79655 9.66943 8.00684Z' fill='%23FAFAFA'/%3E%3C/svg%3E%0A");background-size:auto;background-position:center;background-repeat:no-repeat;border-radius:100%}.page-template-transparency-report .report-links-container.learn-more{margin-top:24px;max-width:634px}.page-template-transparency-report .report-links-container.learn-more .report-link-single{flex:1 0 100%}


